/* document reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* color */
/* h1{
    color: red;
} */
/* specificity */
 .h1{
    color: blue;
}
#h1{
    color: green;
}
body{
    background-color: whitesmoke;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: beige;
    justify-content: space-between;
}
/* .logo{
    background-color: red;
} */
.links-container{
    /* background-color: blue; */
    display: flex;
    width: 70%;
    justify-content: flex-end;
}
.links-container > ul{
    display: flex;
    list-style-type: none;
    /* column-gap: 20p; */
    width: 70%;
    justify-content: space-between;
    

}
nav > div > ul > li > a{
    text-decoration: none;
    word-spacing: 30px;
}


/* main element */
.product{
    display: flex;
    justify-content: space-around;
    /* width: 1200px; */
    background-color: blue;
    padding: 10px;
}
.prouct-content{
    background-color: whitesmoke;
    padding-bottom: 5px;
    text-align: center;
}

.prouct-content > img{
    width: 200px;
    object-fit: contain;
}
.btn{
    background-color: lightblue;
    padding: 5px;
    border: none;
    border-radius: 10px;
    font-size: larger;
}
.prouct-content:hover{
    cursor: pointer;
    transform: scale(1.05);
    /* transition: 0.5s ease-in; */
}


















